<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold fs-4" href="#">SAM-TRACK</a>
      <div class="ms-auto">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link btn btn-outline-light px-4 rounded-pill" routerLink="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="hero-image-container">
    <img src="assets/landing-banner.jpg" alt="Landing Image" class="img-fluid w-100 hero-image">
  </div>
  
  